.leaderboard-container {
  background-color: #000000;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.leaderboard-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #4dacff;
}

.levelFilter {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: 5%;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #333333;
  background-color: #1b2d3e;
  color: #ffffff;
  position: relative;
}

.leaderboard-table {
  width: 90%;
  border-collapse: separate;
  border-spacing: 0;
  margin-left: auto;
  margin-right: auto;
  max-height: 500px;
  overflow-y: auto;
}

.leaderboard-header, .leaderboard-row {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #333333;
}

.leaderboard-header {
  background-color: #1b2d3e;
  font-weight: bold;
  text-transform: uppercase;
  position: sticky;
  top: 0;
  z-index: 1;
}

.leaderboard-row {
  background-color: #2460c8;
  transition: background-color 0.3s ease;
}

.leaderboard-row:nth-child(even) {
  background-color: #124996;
}

.leaderboard-row:hover {
  background-color: #0a3667;
}

.leaderboard-cell {
  flex: 1;
  padding: 12px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.leaderboard-cell:first-child {
  flex: 0 0 100px;
}

.leaderboard-cell:nth-child(2) {
  flex: 0 0 200px;
}

.leaderboard-cell:nth-child(4) {
  flex: 0 0 150px;
}

.leaderboard-cell:nth-child(5) {
  flex: 0 0 130px;
}

.leaderboard-header .leaderboard-cell {
  color: #4dacff;
}

.leaderboard-container:hover .leaderboard-cell {
  visibility: visible; /* Show on hover */
  opacity: 1;
}
/* .leaderboard-row:first-child {
  background-color: #1e5799;
}

.leaderboard-row:nth-child(2) {
  background-color: #164a87;
} */

/* .leaderboard-row:nth-child(3) {
  background-color: #113d6f;
} */