.reset-password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #1b2d3e;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: #ffffff;
}

.reset-password-container h2 {
  margin-bottom: 1rem;
  color: #4dacff;
}

.reset-password-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
}

.reset-password-container rux-input {
  margin-bottom: 1rem;
}

.reset-password-container rux-button {
  margin-top: 1rem;
}

.message {
  margin-top: 1rem;
  text-align: center;
  color: #4dacff;
}
