.war-comments-section {
  background-color: #0d151f;
  border-radius: 8px;
  padding: 15px;
  max-width: 800px;
  margin: 20px auto;
  color: white;
  position: relative;
}
.comment-author {
  font-weight: bold;
  margin-right: 8px;
  color: white;
}

.comment-date {
  font-size: 0.85em;
  color: #ccc;
  margin-left: 8px;
}

.comment-text {
  margin-top: 10px;
  color: white;
  text-align: left;
  white-space: pre-wrap;
  padding-left: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  color: rgb(28, 84, 164);
}

.comment-reply {
  font-size: 0.85em;
  color: #676666;
  margin-top: 4px;
  cursor: pointer;
  text-align: left;
  padding-left: 10px;
}

.comment-user-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  left: 15px;
  vertical-align: middle;
}
