.rate-war-tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.rate-war-tab::part(container) {
  background-color: #101923;
  border: 1px solid #2b659b;
}

.rate-war-tab[selected]::part(container) {
  color: white;
  background-color: #1c3f5e;
  border: 1px solid #2b659b;
}

.rate-wars-background {
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  height: 400px;
}

.war-card-first-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: white;
  position: relative;
}

.avatar-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center the name under the Avatar */
  position: absolute;
  left: 0;
  top: 0;
}

.name {
  margin-top: 5px; /* Add space between Avatar and name */
  font-size: 14px; /* Adjust the font size for the name */
  text-align: center; /* Ensure the name is centered under the Avatar */
  margin-bottom: 0;
}

.war-card-first-row h2 {
  margin: 0;
  margin-bottom: 15px;
}

.war-card-first-row h3 {
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.war-card-first-row span {
  color: #4dacff;
}

.card-title-with-line hr {
  border: 1px solid #4dacff;
}

.attachment {
  color: #56f000;
  display: flex;
}

.attachment-icon::part(icon) {
  color: #56f000;
}

.war-card-second-row {
  display: flex;
  justify-content: center;
  height: 100%; /* Ensure the container has a height for equal spacing */
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-description {
  color: white;
  border: 1px solid #4dacff;
  border-radius: 5px;
  padding: 5px;
}

.war-card-second-row p {
  color: #4dacff;
}

.card-impact {
  color: white;
  border: 1px solid #4dacff;
  border-radius: 5px;
  padding: 5px;
}

.card-poc {
  color: white;
  border: 1px solid #4dacff;
  border-radius: 5px;
  padding: 5px;
}

.war-card-button {
  margin-left: auto;
  margin-right: auto;
}

.custom-dialog-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.custom-dialog {
  min-width: 400px;
  max-width: 90vw;
  max-height: 80vh;
  padding: 20px;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: #1b2d3e;
}

.custom-dialog-header {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 0;
}

.custom-dialog-header > :nth-child(1) {
  position: absolute;
  left: 0;
}

.custom-dialog-header > :nth-child(3) {
  position: absolute;
  right: 0;
  color: #4dacff;
}

.rate-war-body {
  max-height: calc(80vh - 200px); /* Leave room for header and footer */
  overflow-y: auto;
  color: white;
  margin-bottom: 10px;
}

.rate-war-body p {
  margin-bottom: 0;
}

.description-row,
.poc-row,
.impact-row {
  display: flex;
  align-items: center; /* Vertically centers the content */
  margin-top: 10px;
}

.description-row p,
.poc-row p,
.impact-row p {
  margin: 0; /* Remove margin to avoid spacing issues */
}

.edit-icon {
  margin-left: 8px; /* Adds space between the text and the icon */
}

.rate-war-body span {
  margin-left: 10px;
  border: 1px solid #4dacff;
  padding: 5px;
  border-radius: 5px;
}

.unclassified-version-container {
  display: flex;
  flex-direction: column;
}

.unclassified-version-container label {
  margin-top: 10px;
  margin-bottom: 10px;
}

.unclassified-version-container rux-button {
  margin-bottom: 10px;
}

.unclassified-version-container rux-textarea {
  margin-bottom: 10px;
}

.unclassified-bullet-container {
  display: flex;
  flex-direction: column;
}

.unclassified-bullet-container label {
  margin-top: 10px;
  margin-bottom: 10px;
}

.unclassified-bullet-container rux-button {
  margin-bottom: 10px;
}

.unclassified-bullet-container rux-textarea {
  margin-bottom: 10px;
}

.custom-dialog-footer {
  display: flex;
  justify-content: space-between;
}

.custom-button {
  padding: 10px 20px;
  margin-left: 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #0056b3;
}
